<!DOCTYPE html>
<html>
<head>
	<title>Plot Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.js"></script> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
</head>
<body>
<div id="myDiv" ></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
<script type="text/javascript">
    var url = '/live/data/';
    var offset = 0;
    var limit = 0;
    var max_size = 30;
    var data = []
    var sleepTime = 5;
    var count = 5
	
	var trace1 = {
			  x: [],
			  y: [],
			  text: [],
			  mode: 'markers',
			  marker: {
			    color: [],
			    size: [],  
			  },
			  type: 'scatter'
			};

	var percentColors = [
    { pct: 0.0, color: { r: 0xff, g: 0x00, b: 0 } },
    { pct: 0.5, color: { r: 0xff, g: 0xff, b: 0 } },
    { pct: 1.0, color: { r: 0x00, g: 0xff, b: 0 } } ];

	var getColorForPercentage = function(pct) {
	    for (var i = 1; i < percentColors.length - 1; i++) {
	        if (pct < percentColors[i].pct) {
	            break;
	        }
	    }
	    var lower = percentColors[i - 1];
	    var upper = percentColors[i];
	    var range = upper.pct - lower.pct;
	    var rangePct = (pct - lower.pct) / range;
	    var pctLower = 1 - rangePct;
	    var pctUpper = rangePct;
	    var color = {
	        r: Math.floor(lower.color.r * pctLower + upper.color.r * pctUpper),
	        g: Math.floor(lower.color.g * pctLower + upper.color.g * pctUpper),
	        b: Math.floor(lower.color.b * pctLower + upper.color.b * pctUpper)
	    };
	    return 'rgb(' + [color.r, color.g, color.b].join(',') + ')';
	    // or output as hex if preferred
	}  		
			
			

	function plotData(data, is_update){
		var layout = {
		  title: 'Cell Phone Sensor Network',
		  showlegend: false,
		  height: 1000,
		  width: 1000,
		  legend: { "tracetoggle": true }
		};
		
		if(is_update){
			Plotly.redraw('myDiv', data, layout);
		}
		else{
			Plotly.newPlot('myDiv', data, layout, {scrollZoom: true});
		}
	}
	
	// Ajax call fire to get data from server
	function get_data(limit, offset){
		$.ajax({
		  url: url,
		  data: {'offset':offset, 'limit':limit},
		  dataType: "json",
		  async: false,
		  success: function(response){
			  var parsed_data = JSON.parse(response);
			  count = sleepTime;

			  if (parsed_data.length > 0){
			  	  // Update sleep time again
			  	  sleepTime = 5; 
				  $.each( parsed_data, function(index, value) {
					  trace1.x.push(value.pos_x);
					  trace1.y.push(value.pos_y);
					  trace1.text.push(value.imsi+' Signal: '+value.rssi);
					  if(value.rssi >= -95){
					  	trace1.marker.color.push('rgb(0,128,0)');
					  }
					  else if(value.rssi >= -100){
					  	trace1.marker.color.push('rgb(128,0,0)');
					  }
					  else{
					  	trace1.marker.color.push('rgb(128,128,0)');
					  }
					  trace1.marker.size.push(15);
					});
				  	// Increase offset and limit variable ...
				  	increaseLimit(true);

				  	if (offset != 0){
						plotData(data, true);
					}
					else{
						data.push(trace1);
				  		plotData(data, false);
				  	}
			  }
			 else{
			 	console.log('No data on server');
			 	if(sleepTime < 20){
			 		sleepTime = sleepTime +5;
			 		count = sleepTime;
			 		console.log('Now Sleep is: '+sleepTime);
			 	}
			 	// Increase get-data sleep time when no data on server.
			 } 

		  }
		});
	}

	function increaseLimit(dataLen){
		if (dataLen > 0){
			if (limit!=0){
		    		offset = limit;
		    	}
		    	limit = limit+max_size;
	    }
	};

	// Initialize my limit and offset
	increaseLimit(1);

	// Every secound reduse one from sleepTime to make a server call.
	setInterval(function(){
		if(count <= 0){
			get_data(limit, offset);
		}
		else{
			--count;
		}
	},1000)

</script>
</html>