<!DOCTYPE html>
<html>
<head>
	<title>Plot Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
</head>
<body>
<div id="myDiv" ></div>
</body>
<script type="text/javascript">
    var url = '/live/data/';
    var offset = 0;
    var limit = 0;
    var max_size = 10;
    var data = []
	
	var trace1 = {
			  x: [],
			  y: [],
			  text: [],
			  mode: 'markers',
			  marker: {
			    color: [],
			    size: []
			  }
			};

	function plotData(data, is_update){
		var layout = {
		  title: 'Bubble Chart Hover Text',
		  showlegend: false,
		  height: 1000,
		  width: 1000,
		  legend: { "tracetoggle": true }
		};
		
		if(is_update){
			Plotly.redraw('myDiv', data, layout);
		}
		else{
			Plotly.newPlot('myDiv', data, layout, {scrollZoom: true});
		}
	}
	
	function get_data(limit, offset){
		$.ajax({
		  url: url,
		  data: {'offset':offset, 'limit':limit},
		  dataType: "json",
		  async: false,
		  success: function(response){
	
			  var parsed_data = JSON.parse(response);
			  $.each( parsed_data, function(index, value) {
				  trace1.x.push(value.pos_x);
				  trace1.y.push(value.pos_y);
				  trace1.text.push(value.imsi+'/nSignal: '+value.rssi);
				  if(value.rssi <= -70){
				  	trace1.marker.color.push('rgb(255, 144, 14)');
				  }
				  else if(value.rssi > -70 && value.rssi <= -100){
				  	trace1.marker.color.push('rgb(44, 160, 101)');
				  }
				  else if(value.rssi > -100){
				  	trace1.marker.color.push('rgb(255, 65, 54)');
				  }

				  trace1.marker.size.push(10);
				});

			  	if (offset != 0){
					plotData(data, true);
				}
				else{
					data.push(trace1);
			  		plotData(data, false);
			  	}
		  }
		});
	}

	setInterval(function(){
    	if (limit!=0){
    		offset = limit;
    	}
    	limit = limit+max_size;
		get_data(limit, offset);
	}, 5000);
</script>
</html>